body{
    color: rgb(255, 255, 255);
    font-family:"t-stroke t-shadow-halftone{";
    background: linear-gradient(to right, rgb(255, 110, 127), rgb(191, 233, 255));
    z-index: 2;
    background-size:contain;
    transition: all 0.5s ease;
    text-align: center; 
}
p{
    text-align: center;
    color: white;
    font-size: 30px;
}
h1{
    text-align: center;
    /* text-shadow: 5px 5px 5px rgb(247, 244, 244); */
    text-shadow: -10px -5px 3px #4321bf,   -15px -10px 5px #42dd36, -20px -15px 7px #dd7c31;
    font-size: 90px;
    color: rgb(0, 0, 0);
    border: 5px solid rgb(242, 243, 246);
    border: dotted;
    background-image: url(istockphoto-1219023505-612x612.jpg);
    opacity: 0.7;
}

/* dentro de estilo.css */
.highlight {
    background-color: rgb(0, 255, 4);
    border-color: rgb(0, 0, 0);
 }

.error {
    background-color: rgb(235, 0, 0);
    border-color: rgb(0, 0, 0);
 }